@font-face {
  font-family: "ModernEmojiNoto";
  src: url("../fonts/Noto-COLRv1.ttf") format("truetype");
  font-display: block;
}

.modern-emoji-renderer__emoji[data-modern-emoji-renderer="emoji"] {
  display: inline;
  font-family: "ModernEmojiNoto", "Segoe UI Emoji", sans-serif !important;
  font-size: 1em;
  line-height: inherit;
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
}
